In [ ]:
import pandas as pd
import rich_click as click
dict1 = {"sample": "reee","a": 1, "b": 2, "c": 3}
dict2 = {"sample": "daaa","a": 1, "b": 2, "d": 3}

df = pd.DataFrame([dict1, dict2])
df.set_index("sample", inplace=True)


dict1 = {"sample": "ryyy","a": 1, "f": 2, "c": 3}
dict2 = {"sample": "iuueue","a": 1, "b": 2, "g": 3}

df2 = pd.DataFrame([dict1, dict2])
df2.set_index("sample", inplace=True)

df3 = pd.concat([df, df2])
df3

In [ ]:
df.loc["reee"]

In [5]:
import pandas as pd
df = pd.read_excel("GMK549 Zhang Genotypes Table.xlsx")
df = df.applymap(lambda x: x.strip() if type(x)==str else x)

df.columns = df.columns.str.strip()

# Collapse allele columns for each marker into a single column.
df['Alleles'] = df.filter(like='Allele').apply(lambda x: ','.join([str(y) for y in x]), axis=1).str.strip(",")

# Group and collect dict from each sample for markers and alleles.
grouped = df.groupby("Sample Name")
#grouped.groups.keys()

samps_dicts = []

for samp in grouped.groups.keys():
    samp_df = grouped.get_group(samp)
    samps_dict = samp_df.set_index("Marker").to_dict()["Alleles"]
    samps_dict["Sample"] = samp
    
    samps_dicts.append(samps_dict)

allele_df = pd.DataFrame(samps_dicts)

copy_df = allele_df.copy()

pd.concat([allele_df, copy_df], ignore_index=True)

,AMEL,D3S1358,D1S1656,D2S441,D10S1248,D13S317,Penta E,D16S539,D18S51,D2S1338,...,D7S820,D5S818,TPOX,DYS391,D8S1179,D12S391,D19S433,FGA,D22S1045,Sample
0,"X,Y","14,16",17.3,"11,12","13,14","10,13,14","7,17",11,"12,16","19,20",...,"9,11","12,14",8,11,14,"19,20","14,15.2","21,22",16,che024 Zhang
1,"X,Y","14,16",17.3,"11,12","13,14","10,13,14","7,17",11,"12,16","19,20",...,"9,11","12,14",8,11,14,"19,20","14,15.2","21,22",16,che025 Zhang
2,X,"14,18","14,15,17",11,14,"12,14","7,11","9,10","12,18","16,25",...,"8,10","9,12","8,11",,"10,15","15,19",14,"22,25","15,17",zhu022 Zhang
3,"X,Y","15,16","12,14","10,14",14,"9,10","7,18",11,"17,19","17,21",...,"9,10","9,13",8,11,"12,13","17,19.3","12,13",23,"16,17",zhu023 Zhang
4,"X,Y",17,18.3,"11,14",13,12,"14,15","11,12","17,18","18,25",...,"9,11","11,13",8,10,13,"20,21",14,"22,25","15,16",zhu024 Zhang
5,"X,Y","14,17","12,16.3","11,15",14,13,"5,13","12,14","12,14","20,25",...,"11,12",11,"8,12",10,14,18.3,"13,13.2","24,27","11,16",zhu025 Zhang
6,"X,Y","14,16",17.3,"11,12","13,14","10,13,14","7,17",11,"12,16","19,20",...,"9,11","12,14",8,11,14,"19,20","14,15.2","21,22",16,che024 Zhang
7,"X,Y","14,16",17.3,"11,12","13,14","10,13,14","7,17",11,"12,16","19,20",...,"9,11","12,14",8,11,14,"19,20","14,15.2","21,22",16,che025 Zhang
8,X,"14,18","14,15,17",11,14,"12,14","7,11","9,10","12,18","16,25",...,"8,10","9,12","8,11",,"10,15","15,19",14,"22,25","15,17",zhu022 Zhang
9,"X,Y","15,16","12,14","10,14",14,"9,10","7,18",11,"17,19","17,21",...,"9,10","9,13",8,11,"12,13","17,19.3","12,13",23,"16,17",zhu023 Zhang
10,"X,Y",17,18.3,"11,14",13,12,"14,15","11,12","17,18","18,25",...,"9,11","11,13",8,10,13,"20,21",14,"22,25","15,16",zhu024 Zhang
11,"X,Y","14,17","12,16.3","11,15",14,13,"5,13","12,14","12,14","20,25",...,"11,12",11,"8,12",10,14,18.3,"13,13.2","24,27","11,16",zhu025 Zhang